@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

.products-outer-container {
    margin-top: -1em;
    background-color: rgb(255, 249, 227);
}

.product-card-container {
    background-color: rgb(134, 165, 144);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: 100%;
}

.product-type-name {
    position: relative;
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    font-size: 7em;
    margin-bottom: -0.20em;
    z-index: 1;
}

.color-block {
    position: absolute;
    background-color: rgb(134, 165, 144);
    width: 100%;
    height: 100%;
}