
.App {
    height: 100vh;
    display: flex;
    color: white;
  }
  
  .logo {
    width: 400px;
  }
  
  .logo-title{
    color: #daa520;
    font-size: 30px;
  }
  
  .App__Aside {
    margin: auto;
    width: 50%;
    background-color: #fff;
  }
  
  .App__Form {
    width: 50%;
    background-color: #36454f;
    padding: 25px 40px;
    overflow: auto;
  }
  
  .PageSwitcher {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10%;
  }
  
  .PageSwitcher__Item {
    background-color: #fff;
    color: #000;
    padding: 10px 25px;
    cursor: pointer;
    font-size: .9em;
    border: none;
    outline: none;
    display: inline-block;
    text-decoration: none;
  
  }
  
  .PageSwitcher__Item:hover {
    text-decoration: none;
    color: #000;
  }
  
  .PageSwitcher__Item--Active {
    text-decoration: none;
    background-color: #daa520;
    color: white;
  }
  
  .PageSwitcher__Item:first-child {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  .PageSwitcher__Item:last-child {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  
  .FormCenter {
    margin-bottom: 10px;
  }
  
  .FormTitle {
    color: #fff;
    font-weight: 300;
    margin-bottom: 25px;
  }
  
  .FormTitle__Link {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    font-size: 1.7em;
    margin: 0 10px;
    padding-bottom: 5px;
  }
  
  .FormTitle__Link:first-child {
    margin-left: 0;
  }
  
  .FormTitle__Link:hover {
    color: #daa529;
    border-bottom: 1px solid #d5d5d5;
    text-decoration: none;
  }
  
  .FormField {
    margin-bottom: 40px;
  }
  
  .FormField__Label {
    display: block;
    text-transform: uppercase;
    font-size: .9em;
    color: #fff;
  }
  .FormField__Input {
    width: 85%;
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    border-bottom: 1px solid #fff;
    font-size: 1em;
    font-weight: 300;
   // padding-bottom: 10px;
    //margin-top: 10px;
  }
  
  .FormField__Input::placeholder {
    color: #fff;
  }
  
  .FormField__Button {
    background-color: #daa520;
    color: white;
    border: none;
    outline: none;
    border-radius: 25px;
    padding: 15px 70px;
    font-size: .8em;
    font-weight: 500;
  }
  
  .FormField__Button:focus { 
      outline: #fff; 
    }
  
  
  .FormField__Link {
    color: #FFF;
    text-decoration: none;
    display: inline-block;
    border-bottom: 1.5px solid #fff;
    padding-bottom: 5px;
  }
  
  .FormField__Link:hover{
    text-decoration: none;
    color: #daa520;
  }
  
  .FormField__CheckboxLabel {
    color: #fff;
    font-size: .9em;
  }
  
  .FormField__Checkbox {
    position: relative;
    top: 1.5px;
  }
  
  .FormField__TermsLink {
    color:#daa520;
    border-bottom: 1px solid #FFF;
    text-decoration: none;
    display: inline-block;
    padding-bottom: 2px;
    margin-left: 5px;
  }
  
  .FormField__TermsLink:hover {
    text-decoration: none;
    color: #fff;
  }