@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&display=swap');

.card-outer {
    max-width: 500px;
    padding: 10%;
    border: 4px double #000000;
}

.product-image {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}