@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

.products-outer-container {
    margin-top: -1em;
}

.product-card-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: 100%;
    margin-top: 1em;
}

.store-header {
    position: relative;
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    font-size: 7em;
    margin-bottom: -0.22em;
    z-index: 1;
}