.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dashboard-header {
  display: flex;
  justify-content: center;
}

.dashboard {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.dashboardImage {
  height: 200px;
  width: 200px;
  margin-bottom: 5%;
  margin-top: 5%;
}

.sellerData {
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
  margin-top: 5%;
}

.Products {
  margin-left: 4%;
}